
.app-header{
    height: 0.48rem;
    @include flexbox();
    @include justify-content(center);
    @include align-items(center);
    text-align: center;
    line-height: 0.48rem;
    border-bottom: 1px solid #d9d9d9;
    font-size: 0.18rem;
    color: #333;
    a{
        display: block;
        height: 0.48rem;
        width: 0.48rem;
        font-size: 0.25rem;
        color: #666;
    }
    span{
        
        display: block;
        @include flex();
    }
    p{
        display: block;
        height: 0.48rem;
        width: 0.48rem;
    }    
}
