
//设置首页面的样式信息
#app{
    height: 100%;
}

.content-box{
    height: 100%;
}

.app-main{
    
    @include flexbox();
    @include flex-direction(column);
    
    .main-box{
        @include flex();
        width: 100%;
    }
    
    .app-footer{
        height: 0.49rem;
        background: skyblue;
        color: #666;
        @include flexbox();
        @include justify-content(space-around);
        @include align-items(center);
        span{
            font-size: 0.12rem;
        }
    }
}

