//设置首页面的样式信息
html,body,#app{
    height: 100%;
    padding: 0;
    margin: 0;
}

.main-box{
    height: 100%;
    overflow-y: scroll;
    padding-bottom: 0.49rem;
    
}

.app-detail{
    height: 100%;
    header{
        position: absolute;
    }
 }


.mint-toast {
    width: 2rem;
}

.det-box{
    height: 100%;
    padding-top: 0.49rem;
}
